$body-bg: #424d29;
$primary: #d7be62;
$secondary: #6a7340;
$success: #8bbd4d;
$info: #c3b07a;
$warning: #e1cd7b;
$danger: #b46f50;
$light: #f2efcf;
$dark: #16170f;
$grey: #b0ad8a;

$font-sans-serif:
  Roboto Condensed,
  Roboto,
  "Helvetica Neue",
  Arial,
  sans-serif;
$font-monospace:
  Roboto Mono,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;
$gradient: linear-gradient(
  180deg,
  hsla(0, 0%, 100%, 0.15),
  hsla(0, 0%, 100%, 0)
);

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
