# Tripr App Express Backend - Environment Configuration

# Node Environment
NODE_ENV=dev
PORT=3000

# MongoDB
CONNECTION_STRING=mongodb://data-admin:bWQpZlWulKZa5EpM@ac-hxp9sf8-shard-00-00.lu7lxo1.mongodb.net:27017,ac-hxp9sf8-shard-00-01.lu7lxo1.mongodb.net:27017,ac-hxp9sf8-shard-00-02.lu7lxo1.mongodb.net:27017/?ssl=true&replicaSet=atlas-bam1e7-shard-0&authSource=admin&appName=Cluster1

# Auth0
AUTH_DOMAIN=dev-1xhecvp8hy0zjc8q.us.auth0.com
AUTH_CLIENT_ID=omyZ2WBjJjeC6O5R6HErCHFwGdszXtar
AUTH_AUDIENCE=https://tripr-api.com

VITE_AUTH0_DOMAIN=dev-1xhecvp8hy0zjc8q.us.auth0.com
VITE_AUTH0_CLIENT_ID=omyZ2WBjJjeC6O5R6HErCHFwGdszXtar
PORT=3000


# Client URL
CLIENT_URL=http://localhost:8080
